{% extends "layout.html" %}

{% block title %}
<title>Gamelist - Login</title>
{% endblock %}

{% block body %}
<main class="mainBodyLogreg">
    <div class="mainContainerLogreg">
        <div class="logregTitle">
            <img src="static/resources/logo.png" width="170">
        </div>
        <div class="logregForm">
        <form action="/login" method="post">
            <div class="logregInputs"><input class="logregInput"name="username" type="text" placeholder="username"></div>
            <div class="logregInputs"><input class="logregInput"name="password" type="password" placeholder="password"></div>
            <div class="logregButtons"><button class="logregButton" type="submit">Login</button></div>
        </form>
        </div>
    </div>
</div>
</main>

{% endblock %}
